@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #ececec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.card {
    background: linear-gradient(68.24deg, #6E61EC -3.47%, #9A8FFF 103.83%);
}

.Section5Card {
    box-shadow: 0px 10px 34px 8px rgba(191, 196, 202, 0.15);
}

.Sec5Content::before {
    content: '';
    position: absolute;
    display: block;
    width: 124.66px;
    height: 142.85px;
    background: url('./assets/Heart1.svg');
    left: 20px;
    top: -110px;
}

.Sec5Content::after {
    content: '';
    position: absolute;
    display: block;
    width: 152.58px;
    height: 182.18px;
    background: url('./assets/Hart2.svg');
    right: -40px;
    bottom: -50px;
}

